*{  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

:root{
    --corPrincipal:#b1ecba ;
    --corConteudo:aliceblue;
    --corSecundaria:rgb(6, 80, 34);
    --corFont: rgb(214, 231, 246);
}

body{
    background-color: var(--corPrincipal);

}

main{
    background-color: var(--corConteudo);
    max-width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

h1{
    font-size: 2em;
    background: var(--corSecundaria);
    border-radius: 10px;
    padding: 0px 9px;
    text-align: center;
    color: var(--corFont);
    width: 6em;
}


h2{
    font-size: 1em;
    background: var(--corSecundaria);
    border-radius: 10px;
    text-align: center;
    color:var(--corFont);
    width: 6em;
    padding: 0.5em;
}

img{
    max-width: 280px;
    max-height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

img .lado{
    float: right;
}

p{
    width: 18em;
}

ol, li{
    width: 15em;
    margin-bottom: 0.5em;
}

@media (min-width: 780px){
    main{
        max-width: 500px;
    }

    img{
        min-width: 500px;

    }

    p{
        width: auto;
    }

    ol, li{
        width: auto;
    }
}

@media(min-width: 1024px){
    main{
        max-width: 700px;
    }

    img{
        min-width: 680px;
    }

    p{
        font-size: 2em;
    }

    h2{
        font-size: 2em;
    }

    ol, li{
        font-size: 1.3em;
    }
}